@import "../modules/variables";
@import "../modules/classes";
@import "../modules/mixins";

#FAQs {
  background-color: $snow;
  padding: 90px 0;
  .container {
    @extend %container;
    .FAQs-content {
      h2 {
        @include text-property(48px, $playfair, $black, none);
        font-weight: $bold;
        line-height: 60px;
      }
    }
  }
}