@import "../modules/variables";
@import "../modules/classes";
@import "../modules/mixins";

#Speakers {
  background-color: $snow;
  .container {
    @extend %container;
    .flex-block {
      @include display(flex);
      @include flex-property(space-between, none);
      .speakers-content {
        @include size(365px, 100%, 100%);
        .title {
          @include text-property(48px, $playfair, $black, $capit);
          font-weight: $bold;
          line-height: 60px;
        }
        .paragraph {
          @include text-property(18px, $poppins, $black, none);
          font-weight: $light;
          line-height: 30px;
          &:first-of-type {
            margin: 20px 0 30px 0; 
          }
        }
      }
      .speakers-block {
        @include size(100%, 100%, 100%);
        .speaker-box {
          max-width: 213px;
          width: 100%;
          .speaker-img {
            min-height: 20vh;
            @include bg-img(url(/images/maddison.jpg), cover, center, no-repeat);
            object-fit: cover;
          }
          .speaker-name-and-company {
            .speaker-name {
              @include text-property(16px, $poppins, $black, $capit);
              font-weight: $light;
              line-height: 20px;
              padding: 10px 0 7px 0;
            }
            .company-img {
              width: 62px;
            }
          }
        }
      }
    }
  }
}