@import "../modules/variables";
@import "../modules/classes";
@import "../modules/mixins";

#Speakers {
  background-color: $snow;
  .container {
    @extend %container;
    .flex-block {
      @include display(flex);
      @include flex-property(space-between, none);
      .speakers-content {
        @include size(365px, 100%, 100%);
        .title {
          @include text-property(48px, $playfair, $black, $capit);
          font-weight: $bold;
          line-height: 60px;
        }
        .paragraph {
          @include text-property(18px, $poppins, $black, none);
          font-weight: $light;
          line-height: 30px;
          &:first-of-type {
            margin: 20px 0 30px 0; 
          }
        }
      }
      .speakers-block {
        @include size(100%, 100%, 100%);
        .top-box {
          @include display(flex);
          justify-content: flex-end;
          .speaker-box {
            max-width: 213px;
            width: 100%;
            &:nth-of-type(2) {
              margin: 0 16px;
            }
            .img-size {
              min-height: 20vh;
            }
            .maddison-img { @include bg-img(url(/images/maddison.jpg), cover, center, no-repeat); }
            .david-img { @include bg-img(url(/images/david.jpg), cover, center, no-repeat); }
            .rachel-img { @include bg-img(url(/images/rachel.jpg), cover, center, no-repeat); }
            .speaker-name-and-company {
              .speaker-name {
                @include text-property(16px, $poppins, $black, $capit);
                font-weight: $light;
                line-height: 20px;
                padding: 10px 0 7px 0;
              }
              .change-padd {
                padding-bottom: 5px;
              }
              // Logos' widths
              .webflow { width: 62px; }
              .zapier { width: 49px; }
              .slack { width: 54px; }
            }
          }
        }
      }
    }
  }
}