@import "../modules/variables";
@import "../modules/classes";
@import "../modules/mixins";

.first-section {
  position: relative;
  background-color: $black;
  height: 100vh;
  .container {
    @extend %container;
    .text-box {
      position: absolute;
      max-width: 380px;
      width: 100%;
      top: 27%;
      .large-logo {
        @include size(365px, 100%, 105px);
      }
      .date-and-location {
        @include text-property(18px, $playfair, $snow, $upper);
        line-height: 30px;
        margin: 16px 0;
        letter-spacing: 4px;
      }
      .delux-paragraph {
        @include text-property(18px, $poppins, $snow, none);
        line-height: 28px;
        font-weight: $light;
        margin-bottom: 25px;
      }
      .buy-btn {
        @extend %buy-btn;
        @include border(1px, solid, $snow);
        &:hover {
          border-color: $red;
        }
        .buy-link {
          @extend %buy-link;
        }
      }
    }
    .video-box {
      position: absolute;
      top: 0;
      left: auto;
      bottom: 0;
      right: 0;
      @include size(60%, 100%, 100vh);
      z-index: 5;
      overflow: hidden;
      opacity: 0.65;
      .poster {
        @include bg-img(cover, center, no-repeat);
        width: 100%;
        height: 100%;
        object-fit: cover;      
      }
    }
  }
}