// Text transforms
$upper: uppercase;
$lower: lowercase;
$capit: capitalize;

// Colors
$white: #FFFFFF;
$black: #150303;
$red: red;

// Fonts
$playfair: 'Playfair Display', serif;

// Font weights
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;