@import "./variables";

@mixin text-property($f-size, $f-family, $color, $transform) {
  font-size: $f-size;
  font-family: $f-family;
  color: $color;
  text-transform: $transform;
} 

@mixin display($property) {
  display: $property;
}

@mixin flex-property($horizontal, $vertical) {
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin size($max, $width, $height) {
  max-width: $max;
  width: $width;
  height: $height;
}

@mixin border($width, $style, $color) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
}

@mixin transition($property, $duration, $function) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $function;
}

@mixin bg-img($size, $position, $repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}